design/
src/json/
temp/
build/*
!build/readme.md

src/pug/mixins.pug
src/js/entry.js
src/scss/style.scss

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.publish/
.idea/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
ex_files
Thumbs.db
