@import "fluid";

@mixin body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@mixin header {
  font-weight: 700;
  font-size: fluid(24, 32, 320, 768);
  line-height: 1.25;

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(32, 48, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: 48px;
  }
}
