mixin confirm
  .confirm
    .confirm__row
      span.confirm__text Стоимость товаров,руб:
      span.confirm__value 0
    .confirm__row
      span.confirm__text Сумма скидки,руб:
      span.confirm__value.confirm__value--red 0
    .confirm__row
      span.confirm__text Итого, руб:
      span.confirm__result-value 0
    button.confirm__button Оформить заказ